
.foodItem {
    border: 0.15em solid transparent; /* Add your desired border style */
    border-radius: 0.2em; /* Adjust the border radius as needed */
  }
.foodItem.info-visible {
    position: relative;
    animation: shimmerBorder 4s infinite;
  }
  
  @keyframes shimmerBorder {
    0%, 100% {
      border-color: rgba(0, 255, 0, 0.295)
    }
    50% {
      border-color: rgb(30, 100, 30); /* Adjust the color as needed */
    }
  }
  
  /* ... your existing CSS ... */
  
  